@model SampleApplication.Models.User

@{
    ViewBag.Title = "User Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Enter Information</h2>
@using (Html.BeginForm())
{
   @Html.LabelFor(model=> model.FirstName)
   @Html.TextBoxFor(model=> model.FirstName)
   <br /><br />
   @Html.LabelFor(model=> model.UserName)
   @Html.TextBoxFor(model=> model.UserName)
   <br /><br />
   @Html.LabelFor(model=> model.Password)
   @Html.PasswordFor(model=> model.Password)
   <br /><br />
   @Html.LabelFor(model=> model.EmailId)
   @Html.TextBoxFor(model=> model.EmailId)  
   <br /><br />
    <input type="submit" value="Submit" />  
}

